body {
  margin: 0;
  padding: 20px;
  background: #bfdbd0;
}

:root{
  --primarycolor:#1e90ff;
}

*{
  margin:0;
}


/* header{
  background: #52d495;
  display:flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
header nav{
display: flex;
gap:16px;
justify-content:end;
max-width: 1200px;
margin: 0 auto;
}
header nav h1{
  margin-right: auto;
  border-bottom:3px solid var(--primarycolor);
}
a{
  margin-right: auto;
} */
/* header nav a{
  margin-left: auto;
  text-decoration: none;
  padding:6px;
  border-radius: 4px;
  border-color: black;
} */

.container {
  max-width: auto;
  border: solid 1px #000;
  display: flex;
  background: #43b327;
}
.leftcss{
  margin-right: auto;
  margin-left: 10px;
}
.rightcss{
  margin-left: auto;
}
header a{
  margin-right: 10px;
}

header nav a.active{
  background: var(--primarycolor);
}